<h2>Login to your account</h2>

<form method="POST" action="/login">
  <label for="email">Email: </label>
  <input type="text" name="email">
  <br>
  <label for="password">Password: </label>
  <input type="password" name="password">
  <input type="submit"

</form>
