<h2>Welcome to BeerVault!</h2>

<h3>Welcome Back!</h3>
<form action="/sign_in" method="POST">
<label for="user">Email: </label>
<input type="text" name="user">
<br>
<label for="password">Password: </label>
<input type="password" name="password">
<input type="submit">
<br>
</form>
