<h1>My BeerVault</h1>
<br>

<% @beers.each do |b| %>
  <p><strong><a href="/beers/<%=b.id%>"><%=b.name%></a></strong></p>
<% end %>

<br>

<form method="get" action="/beers/new">
    <button type="submit">Add a Beer!</button>
</form>
<br>
<a href="/sign_out">Sign Out</a>
