<h1>Welcome to BeerVault!</h1>
<br>
<h2>Add a Beer!</h2>
<br>
<form action="/beers" method="POST">
<label>Name: </label><input type="text" name="name">
<br>
<label>Style: </label><input type="text" name="style">
<br>
<label>Rating: </label><input type="integer" name="rating">
<br>
<input type="submit" value="Submit" id="submit">
</form>
<br>
<a href="/beers">My Vault</a>
